---
import scriptCertified from "@/assets/images/voice.webp";
import carfCertified from "@/assets/images/coinn.webp";
import googleImage from "@/assets/images/google.svg";
import starIcon from "@/assets/icons/star.svg";
import { Image } from "astro:assets";
---

<div
  class="bg-[rgba(255,255,255,0.40)] flex gap-4 md:gap-10 px-6 md:px-[36px] py-5 rounded-[6px] mt-[20px] md:max-w-[454px]"
>
  <Image src={scriptCertified} alt="script-certified" class="h-14 w-auto" />
  <Image src={carfCertified} alt="carf-certified" class="h-14 w-auto" />
  <div class="flex items-center gap-[6px] mb-2">
    <Image src={googleImage} alt="google-reviews" class="w-13 h-16" />
    <div>
      <p class="font-bold">200+ Reviews</p>
      <div class="flex items-center gap-[5px]">
        <p class="text-[15px] font-bold">4.9</p>
        {
          Array.from({ length: 5 }).map(() => (
            <Image src={starIcon} alt="rating-star" />
          ))
        }
      </div>
    </div>
  </div>
</div>
