---
import { recoverySectionData } from "@/data/recoverySectionData";
import { Image } from "astro:assets";
import HomeScreenForm from "@/components/home/react/HomeScreenForm";
const { recoveryImage } = Astro.props;
import StarsImage from "@/assets/images/stars.svg";
---

<section
  class="py-16 bg-[#FDF7F3] md:py-[90px] flex justify-center items-start gap-[43px] flex-col md:flex-row px-4"
>
  <div class="w-full max-w-[455px]">
    <Image src={recoveryImage} alt="start-recover" class="w-full" />

    <div class="bg-white rounded-lg px-5 pt-6 transition-all w-full max-w-[455px] mt-[-6px]">
      <div class="flex items-center gap-[10px] mb-3">
        <div class="h-12 w-12 rounded-full bg-[rgb(245,158,11)] text-white flex items-center justify-center text-[30px] font-bold">
          J
        </div>
        <div>
          <div class="text-xl font-medium text-[#000000]">Jordan Miller</div>
          <Image src={StarsImage} alt="stars" />
        </div>
      </div>

      <!-- Optimized Text Section -->
    <div
      class="cursor-pointer flex flex-col overflow-hidden bg-[rgb(255,251,235)] transition-all duration-300 hover:bg-[rgb(245,158,11)] p-4 rounded-lg"
    >
      <p class="text-gray-600 mb-2">
        "West Valley Detox truly changed my life. The level of care and attention I received was unlike any other. If you're serious about recovery, this is the place to be."
      </p>
    </div>
    </div>
  </div>

  <div class="w-full max-w-[595px]">
    <h2 class="text-4xl md:text-5xl font-normal font-Frank leading-[42px] md:leading-[58px] text-transparent bg-text-gradient bg-clip-text">
      {recoverySectionData.title}
    </h2>
    <p class="mt-1 text-[#1F1168] text-base md:text-lg font-normal">
      {recoverySectionData.description}
    </p>
    <HomeScreenForm client:load />
  </div>
</section>
